node_modules
node_modules
Zvents.db

bin/
obj/
*.dll
*.exe

*.lock.json
*.sqlite
.db

*.tmp

*.log
*.log.*
*.bak

.vs/
.vscode/

packages/
*.nupkg
*.paket.restore.log
*.paket.lock

*.suo
*.user
*.userosscache
*.sln.docstates

TestResults/
[Tt]est[Rr]esult*/

publish/
*.pubxml
*.publishproj
*.pfx
*.publishsettings
